## 12. Middle Letter

In [34]:
def mid_letter(str):
    if((str.index(str[-1]) + 1)%2 == 0):
        return ""
    else:
        return str[(str.index(str[-1]) + 1)%2 + 1]

In [36]:
mid_letter("sarak")

'r'

## 13. Online Status Count

In [174]:
def online_status(data):
    status = []

    for stt in list(data.values()):
        if(stt == "Online"):
            status.append(stt)
    return len(status)

In [175]:
online_status({"Bob":"Offline", "Marline":"Online", "Agatha":"Online"})

2

## 14. Thousand Seperator

In [163]:
def thousand_sep(num):
    str_num = str(num)
    lst = []
    temp = ""
    for idx, n in enumerate(reversed(str_num[1:])):
        lst.append(n)
        if((idx+1) % 3 == 0):
            lst.insert(idx + int(len(str_num[1:])/3), ",")
    for item in lst:
        temp = item + temp
    return str_num[0]+temp

In [173]:
thousand_sep(1980)

'1,980'

### Another solution:

In [188]:
def format_number(n):
    return "{:,}".format(n)

In [189]:
format_number(100000)

'100,000'

## 15. Count Parameter

In [193]:
def count_param(*args):
    return len(args)

In [318]:
count_param(1, 2, 3)

3

## 16. XOR List

In [205]:
def xor_list(num, list1, list2):
    if(num in list1 and num in list2):
        return False
    elif(num in list1 or num in list2):
        return True
    else:
        return False

In [208]:
xor_list(1, [0, 23, 3], [3, 2, 0])

False

## 17. Zip Tuples

In [1]:
def zip_tuple(list1, list2):
    lst = []
    for idx1, n1 in enumerate(list1):
        for idx2, n2 in enumerate(list2):
            if(idx1 == idx2):
                lst.append((n1, n2))
    return lst

In [2]:
zip_tuple([1, 12], [5, 6])

[(1, 5), (12, 6)]

### Another solution:

In [285]:
def zap(list1, list2):
    return [(list1[i], list2[i]) for i in range(len(list1))]

In [286]:
zap([1, 12], [5, 6])

[(1, 5), (12, 6)]

## 18. One Line Code

In [288]:
def one_line(arr):
    return [str(i) for i in arr]

In [289]:
one_line([1, 2, 3])

['1', '2', '3']

## 19. All Equal Value

In [295]:
def all_eq(eq_list):
    iterator = iter(eq_list)
    first = next(iterator)
    return all(first == num for num in iterator)

In [297]:
all_eq([1, 2, 1])

False

### Another solution:

In [298]:
def list_equal(lst):
    return all(num1 == num2 for num1 in lst for num2 in lst)

In [299]:
list_equal([2, 2, 2])

True

## 20. Consecutive Zeros

In [314]:
def cons_zeros(bin):
    return f"The biggest number of consecutive zeros is {len(max(bin.split('1')))}."

In [317]:
cons_zeros("1000011000000100010000111")

'The biggest number of consecutive zeros is 6.'